{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row, render_hidden_errors %}
{% from 'bootstrap5/utils.html' import render_icon %}


{% block content %}

  <h3 class="">Edit Exercise</h3>
  <form name="edit exercise" method="post" class="p-1 bg-dark-subtle">
    {{ form.hidden_tag() }}
    {{ render_hidden_errors(form) }}
    {{ render_field( form.title) }}
    {{ render_form_row([form.approach, form.player_roles], col_map={'player_roles': 'col-lg-3'}) }}
    {{ render_field( form.rotation) }}
    {{ render_form_row([form.difficulty_level, form.duration, form.skill_focus]) }}
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary p-1 m-2 button100px" type="submit" href="#">Ok</button>
      <button class="btn btn-light p-1 m-2 button100px" type="reset" href="#">Reset</button>
      <a class="btn btn-light p-1 m-2 button100px" type="reset" href="{{ url_for('trainings.view_trainings') }}">Cancel</a>
    </div>
  </form>

  {{ render_form(form) }}


{% endblock %}