{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row, render_hidden_errors %}
{% from 'bootstrap5/utils.html' import render_icon %}


{% block content %}

  <h1 class="mb-3">Edit Exercise</h1>

  <form name="edit exercise" method="post" class="p-2 ">
    {{ form.hidden_tag() }}
    {{ render_hidden_errors(form) }}
    <div class="form-group form-group-lg mb-3">
      {{ form.title(class_="form-control text-center form_title text-primary") }}
    </div>
    <div class="form-group my-2">
      <label class="form-label h5" for="approach">{{  form.approach.label }}</label>
      {{ form.approach(class_="form-control", rows=10, cols=2) }}
      <div id="approach-as-text"></div>
    </div>

    {{ render_form_row([form.difficulty_level, form.duration, form.skill_focus]) }}
    <div class="btn-group btn-group-lg">
      <button class="btn px-3 btn-success m-2 button100px" type="submit" href="#">Ok</button>
      <button class="btn px-3 btn-light p-1 m-2" type="reset" href="#">Reset</button>
      <a class="btn btn-light p-1 m-2 button100px" href="{{ url_for('trainings.view_trainings') }}">Cancel</a>
    </div>
  </form>

  {#  {{ render_form(form) }}#}

  <script src="{{ url_for('static', filename='js/script.js') }}">
  </script>
{% endblock %}