<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <link rel="icon" href="/static/iconmonstr-tennis-2-32.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/custom.css">
  <style>
      pre {
          background: #ddd;
          padding: 10px;
      }

      h2 {
          margin-top: 20px;
      }

      footer {
          margin: 20px;
      }
  </style>
</head>
<body>
<div class="nav-image-top">
</div>
<nav class="navbar navbar-expand-lg navbar-dark mb-4 bg-primary flex-column sticky-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/trainings">
          Trainings
        </a>
        <a class="nav-item nav-link" href="/view_exercices">
          Exercises
        </a>
        <li class="nav-item"><a class="nav-link" href="https://bootstrap-flask.readthedocs.io/" target="_blank">Bootstrap-flask
          docs</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="https://getbootstrap.com/docs/5.1/getting-started/introduction/"
                                target="_blank">Bootstrap Documentation</a></li>

      </ul>
    </div>
  </div>
</nav>
<main>
  <div class="container-xxl">
    <h1 class="mb-3">View Exercise</h1>
    <div>
      <div class="row">
        <h2 class="text-center text-primary">Vlinder - single Passer</h2>>
        <h5>Approach</h5>
        <p>Controlled serve to <i>passer</i>, passer to catcher at SV
          position. catcher indicates quality of pass</p>
      </div>
      <div class="row">
        <div class="col col-md-3">
          <h5>difficulty level</h5>
          <p>Beginner</p>
        </div>
        <div class="col col-md-3">
          <h5>Duration</h5>
          <p>10 minutes</p>
        </div>
        <div class="col col-3">
          <h5>Skill Focus</h5>
          <span class="badge bg-dark">1</span>
          <span class="badge bg-dark">2</span>
        </div>

      </div>

      <div class="btn-group btn-group-lg">
        <button class="btn px-3 btn-success p-1 m-2 button100px" type="submit" href="#">Ok</button>
        <button class="btn px-3 btn-light p-1 m-2" type="reset" href="#">Reset</button>
        <a class="btn btn-light p-1 m-2 button100px" href="/view_exercices">Cancel</a>
      </div>
    </div>


    <script src="/static/js/script.js">
    </script>

  </div>
</main>

<footer class="text-center">

  <small> © 2018–
    <script>document.write(new Date().getFullYear())</script>
    2024
    Emiel van IJsseldijk</small>

</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

<div data-lastpass-root=""
     style="position: absolute !important; top: 0px !important; left: 0px !important; height: 0px !important; width: 0px !important;"></div>
</body>
</html>