{% from 'bootstrap5/utils.html' import render_icon %}
{% extends 'base.html' %}

{% block content %}

  <h1 class="d-block py-2">Exercises</h1>
  <div class="row my-3 p-2 bg-body">
    <div class="col-md-6"></div>
    <div class="col">
      <label for="input_search">{{ render_icon('search', color='secondary') }}</label>
      <input id='input_search' class="form-text" type="text" disabled>
    </div>
    <div class="col align-center"><a class="btn btn-outline-primary rounded-4 align-content-center"
                                     href='{{ url_for("new_exercise") }}'>
      New Exercise</a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-xxl-3 row-cols-lg-2 g-3">
    {% for exercise in exercises %}
      <div class="col">
        <div class="card rounded rounded-bottom-4 h-100">
            <a class="card-body card-nav d-flex flex-column">
              <h5 class="card-title text-primary">{{ exercise.title }}</h5>
              <p class="card-text">{{ exercise.approach }}
              </p>
              {#            <svg class="bd-placeholder-img img-thumbnail" width="300" height="200" xmlns="http://www.w3.org/2000/svg"#}
              {#                 role="img"#}
              {#                 aria-label="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera: 200x200"#}
              {#                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>A generic square placeholder image with a#}
              {#              white border around it, making it resemble a photograph taken with an old instant camera</title>#}
              {#              <rect width="100%" height="100%" fill="#868e96"></rect>#}
              {#              <text x="50%" y="50%" fill="#dee2e6" dy=".3em" dx="-2em">300x200</text>#}
              {#            </svg>#}
              <div class="flex-fill"></div>
              <div class="mt-2">
                {% for skill_focus in exercise.skill_focus %}
                  <span class="badge bg-dark">{{ skill_focus.value }}</span>
                {% endfor %}


                {#              <span class="badge bg-dark mx-1">Defence</span>#}
              </div>
          </a></div>
      </div>
    {% endfor %}


    {#    <script> function reloadPage() {#}
    {#        location.reload();#}
    {#    }#}
    {##}
    {#    // Set the interval to 500 milliseconds (0.5 seconds)#}
    {#    setInterval(reloadPage, 1000)#}
    {#    </script>#}
  </div>

{% endblock %}
