[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
bootstrap-flask = "*"
jinja2 = "*"
python-dotenv = "*"
wtforms = "*"
pydantic = "*"
pymongo = {extras = ["srv"], version = "*"}
pytest = "*"
azure-storage-blob = "*"

[dev-packages]
pipenv = "*"
pymongo-inmemory = "*"

[requires]
python_version = "3.9"
