
.nav-image-top {
/*    the container holding the top level image */
    background: no-repeat 50% 33% url("https://images.unsplash.com/photo-1521138054413-5a47d349b7af?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 300px;
    width: 100%;
    background-size: cover

}


.training_card__date {
    color: goldenrod;
}

.button100px {
    min-width: 100px
}

.form_title {
    font-weight: bolder;
    font-size: 1.5em;
    border:none
}

form.title:hover {
    border: 1px solid black;
}

body {

    font-size: 1rem;

}

.card-nav {
    text-decoration: none;
    color: inherit;
    transition: all 0.4s ease;
}

.card-nav:hover {
    background-color: cornflowerblue;
}

.card {
    transition: inherit;
}

.difficulty_container {
    display: flex;

}


