.training_card__date {
    color: goldenrod;
}

.button100px {
    min-width: 100px
}

.form_title {
    font-weight: bolder;
    font-size: 1.5em;
    border:none
}

form.title:hover {
    border: gray 1px solid;
}