.training_card__date {
    color: goldenrod;
}

.button100px {
    min-width: 100px
}

.form_title {
    font-weight: bolder;
    font-size: 1.5em;
    border:none
}

form.title:hover {
    border: 1px solid black;
}

body {
    background-image: linear-gradient(15deg, #ffffff, #dcd1c9);
    background-repeat: no-repeat;
    font-size: 1rem;

}

.card {
    transition: inherit;
}