{% from 'macros/widgets.html' import render_difficulty_view %}

{% macro render_exercise(exercise) %}
  <div>
    <div class="row row-gap-2">
      <h2 class="text-primary my-3">{{ exercise.title }}</h2>
    </div>
    <div class="row justify-content-between">
      <div class="col col-md-3">
        <h5><i class="fa fa-bolt"></i><span class="mx-2">Difficulty</span></h5>
        {{ render_difficulty_view(exercise) }}
      </div>
      <div class="col col-md-3">
        <h5><i class="fa-regular fa-hourglass-half"></i><span class="mx-2">Duration</span></h5>
        <p>{{ exercise.duration }} minutes</p>
      </div>
      <div class="col col-3">
        <h5><i class="fa-solid fa-bullseye"></i></i><span class="mx-2">Skill Focus</span></h5>
        {% for skill in exercise.skill_focus %}
          <span class="badge bg-dark">{{ skill.value }}</span>
        {% endfor %}
      </div>
      <div class="row">
        {#        <div class="col col-6 clearfix">#}
        {#          #}
        {#        </div>#}
        <div class="col">
          {% if exercise.image_blob_urls | length > 0 %}

          <div id="carouselExampleControls" class="carousel slide float-start mr" data-bs-ride="carousel">
            <div class="carousel-inner" style="width: 400px">
              {% for image_src in exercise.image_blob_urls %}
              <div class="carousel-item {{ "active" if loop.first else "" }}">
                <img src="{{ image_src }}" alt="" style="width: 400px">
              </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          {% endif %}
          <h5>Approach</h5>
          <p> {{ exercise.approach }}</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda at dignissimos eum facere
            hic maxime, nostrum repudiandae saepe? Dolorum modi neque temporibus! At illum inventore necessitatibus
            placeat quis recusandae temporibus ut. Illum quibusdam sunt tenetur. Alias, aspernatur at consequuntur cum
            eaque eligendi error impedit molestiae nam neque pariatur quibusdam quis quo rem sed. Aliquam aliquid
            aperiam consectetur ducimus earum esse et exercitationem expedita explicabo hic iste magni molestias
            nesciunt numquam quisquam quod ratione reiciendis, repellat tempore totam. Aliquam cumque distinctio earum
            eos fuga fugit id illum in modi molestiae molestias nihil nostrum pariatur repudiandae sit temporibus, vel
            vero voluptas.</p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}