{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'macros/blocks.html' import render_exercise %}
{% block content %}

  <form method="post" action="/testpage" enctype="multipart/form-data">
    <div>
      <p><small>{{ exercise.id }}</small></p>
      <label class="form-label" for="existing_images">Existing images</label>
      <div class="row">
        {% for blob_url in exercise.image_blob_urls %}
          <div class="col-3 d-flex flex-column">
            <figure>
              <img class="img-thumbnail" src="{{ blob_url }}" alt="blob image {{ loop.index }} of exercise">
            </figure>
            <div class="buttonbar d-flex justify-content-center">
              <button type="button" aria-label="select for deletion" aria-pressed="false"
                      class="btn btn-outline-danger button-delete" data-bs-toggle="button" data-index="{{ loop.index0 }}">delete</button>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if filelist | length == 0 %}
        <p>no files in filelist</p>
      {% endif %}
      <label class="btn btn-outline-info" for="image_uploads">Choose image(s) to upload (PNG, JPG)</label>
      <input
              type="file"
              id="image_uploads"
              name="image_uploads"
              accept=".jpg, .jpeg, .png"
              multiple/>
    </div>
    <div class="preview">
      <p>No files currently selected for upload</p>
    </div>
    <div>
      <button data-exercise-id="{{ exercise_id }}" id="submit" type="submit">Submit</button>
    </div>
  </form>
  <div class="modal modal-xl" id="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="model-body">
          <button type="button" class="position-absolute btn-close p-3 end-0" data-bs-dismiss="modal" aria-label="Close"></button>
          <img id="modal-target" class="img-fluid">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/testpage.js') }}"></script>

{% endblock %}